body {
  background: #1e1f22;
  color: white;
  font-family: Arial;
  padding: 30px;
}

.hidden {
  display: none;
}

input, textarea, select, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #2b2d31;
  border: none;
  color: white;
}

button {
  background: #5865f2;
  cursor: pointer;
}
